.tabHeight{
     padding: 16px;
 }

ign-field{
    font-size: .3rem;
    border-style: dashed;
    border-width: .1rem;
    color: gray;
}

.mat-ink-bar {
    background-color: darkgreen !important;
}

a{
    color: darkgreen;
}

#bodyContainer{
    font: 500 20px/32px Avenir,Roboto,Helvetica Neue,sans-serif;
    font-size: 15px;
}