@import '~@angular/material/theming';

:host {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card-title.ign-card-title{
  font-weight: 400;
  margin-bottom: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

