<div id="body-container"><br><h1>Radio Buttons</h1>
    <br><h2>Use</h2>
    <p>Radio buttons allow the user to select one option from a set. Use radio buttons for exclusive selection if user
        needs to see all available options side-by-side. Otherwise, consider a dropdown, which uses
        less space than displaying all options.
        <br>See <a href="https://material.io/guidelines/components/selection-controls.html#selection-controls-radio-button">
            Material Design Radio Button</a>
        and <a href="https://material.angular.io/components/radio/overview"> Angular Material Radio Button</a>.
    </p>
<br><h2>Sample</h2>
<mat-tab-group>
    <mat-tab label="Component Sample"><div class="tabHeight">
        <mat-radio-group class="example-radio-group" [(ngModel)]="rowOfRadioButtons">
            <mat-radio-button class="example-radio-button" *ngFor="let button of buttons" [value]="button">
                {{button}}
            </mat-radio-button>
        </mat-radio-group></div></mat-tab>
    <mat-tab label="HTML"><div class="tabHeight">
        <table style="width:100%">
            &lt;mat-radio-group class="example-radio-group" [(ngModel)]="rowOfRadioButtons"&gt;<br/>
            &nbsp;&nbsp;&lt;mat-radio-button class="example-radio-button" *ngFor="let button of buttons" [value]="button"&gt;
            {{button}} &lt;/mat-radio-button&gt;<br/>
            &lt;/mat-radio-group&gt;
        </table></div>
    </mat-tab>
    <mat-tab label="TS"><div class="tabHeight">
        <table style="width:25%">
            rowOfRadioButtons: string;<br><br/>
            &nbsp;buttons = [<br/>
            &nbsp;&nbsp; 'I AM A BUTTON',<br>
            &nbsp; ];
        </table>
    </div></mat-tab>
</mat-tab-group>
    <markdown [content]="notes"></markdown></div>