.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

.tabHeight {
   padding: 16px;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: darkgreen !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: darkgreen;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: darkgreen;
}


.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgba(173, 255, 47,0);
}

#bodyContainer{
    font: 500 20px/32px Avenir,Roboto,Helvetica Neue,sans-serif;
    font-size: 15px;
}

a{
    color: darkgreen;
}