<h1>Radio Buttons</h1>
<h2>Use</h2>
<p>Radio buttons allow the user to select one option from a set. Use radio buttons for exclusive selection if user
    needs to see all available options side-by-side. Otherwise, consider a dropdown, which uses
    less space than displaying all options.</p>
<p>See <a href="https://material.io/guidelines/components/selection-controls.html#selection-controls-radio-button">
    Material Design Radio Button</a>
    and <a href="https://material.angular.io/components/radio/overview"> Angular Material Radio Button</a>.
</p>
<mat-tab-group>
    <mat-tab label="Component Sample"><div class="tab-height">
        <mat-radio-group id="radioButtonList" class="example-radio-group" [(ngModel)]="rowOfRadioButtons" aria-label="Sample Radio Button List">
            <mat-radio-button class="example-radio-button" *ngFor="let button of buttons" [value]="button" aria-describedby="radioButtonList">
                {{button}} 
                &nbsp;
            </mat-radio-button>
        </mat-radio-group></div></mat-tab>
    <mat-tab label="HTML"><div class="tab-height">
        <table style="width:100%">
            <p> &lt;mat-radio-group id="radioButtonList" class="example-radio-group" [(ngModel)]="rowOfRadioButtons" aria-label="Sample Radio Button List"&gt;</p>
            <p> &nbsp;&nbsp;&lt;mat-radio-button class="example-radio-button" *ngFor="let button of buttons" [value]="button" aria-describedby="radioButtonList"&gt;</p>
            <p>{{button}} &lt;/mat-radio-button&gt;</p>
            <p> &lt;/mat-radio-group&gt;</p>
        </table></div>
    </mat-tab>
    <mat-tab label="TS"><div class="tab-height">
        <table style="width:25%">
            <p>rowOfRadioButtons: string;</p>
            <p>&nbsp;buttons = [</p>
            <p>&nbsp;&nbsp; 'I AM A BUTTON',</p>
            <p>&nbsp;&nbsp; 'I AM ANOTHER BUTTON',</p>
            <p>&nbsp; ];</p>
        </table>
    </div></mat-tab>
</mat-tab-group>
<markdown [content]="notes"></markdown>