<h1>Selection List</h1>

<h2>Use</h2>

<p>A selection list provides an interface for selecting values, where each list item is an option.
See <a href="https://material.io/guidelines/style/icons.html">Material Design List</a> and <a href="https://material.io/guidelines/components/lists-controls.html#lists-controls-usage">Angular Material List Controls</a>.</p>

<h2>Sample</h2>

<mat-tab-group>
        <mat-tab label="Component Sample">
            <div class="tab-height">
                <mat-selection-list #options>
                    <mat-list-option *ngFor="let option of typesOfOptions">
                        {{option}}
                    </mat-list-option>
                </mat-selection-list>
                <p>
                    Options selected: {{options.selectedOptions.selected.length}}
                </p>
            </div></mat-tab>
        <mat-tab label="HTML"><div class="tab-height">
            <table style="width:100%">
                <p>   &lt;mat-selection-list #options&gt;</p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&lt;mat-list-option *ngFor="let option of typesOfOptions"&gt;</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;option&#125;</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&lt;/mat-list-option&gt;</p>
                <p>&lt;/mat-selection-list&gt;</p>
                <p>&lt;p&gt; </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Options selected: {{options.selectedOptions.selected.length}}</p>
                <p>&lt;/p&gt;</p>
            </table>
        </div></mat-tab>
        <mat-tab label="TS"><div class="tab-height">
            <table style="width:100%">
                typesOfOptions = ['Option 1', 'Option 2', 'Option 3', 'Option 4'];
            </table>
        </div></mat-tab>
    </mat-tab-group>

<h2>Content</h2>

<ul><li>The options within a selection-list should not contain further interactive controls, such as buttons and anchors.</li><li>To add an icon to your list item, use the matListIcon attribute.</li></ul>

<h2>Style</h2>

<ul><li>Each selection-list item should be concise.</li><li>A selection list must contain more than one selection-list item in the list.</li></ul>