<h1 class="ign-display-1">Selection List</h1>
<section>
    <h2 class="ign-headline">Use</h2>
    <p>A selection list provides an interface for selecting values, where each list item is an option.
        See <a href="https://material.io/guidelines/style/icons.html">
            Material Design List</a>
        and <a href="https://material.io/guidelines/components/lists-controls.html#lists-controls-usage">Angular Material List Controls</a>.
    </p>
</section>
<section>
    <h2 class="ign-headline">Sample</h2>
    <mat-tab-group>
        <mat-tab label="Component Sample">
            <div class="tab-height">
                <mat-selection-list #options>
                    <mat-list-option *ngFor="let option of typesOfOptions">
                        {{option}}
                    </mat-list-option>
                </mat-selection-list>
                <p>
                    Options selected: {{options.selectedOptions.selected.length}}
                </p>
            </div></mat-tab>
        <mat-tab label="HTML"><div class="tab-height">
            <table style="width:100%">
                <p>   &lt;mat-selection-list #options&gt;</p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&lt;mat-list-option *ngFor="let option of typesOfOptions"&gt;</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;option&#125;</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&lt;/mat-list-option&gt;</p>
                <p>&lt;/mat-selection-list&gt;</p>
                <p>&lt;p&gt; </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Options selected: {{options.selectedOptions.selected.length}}</p>
                <p>&lt;/p&gt;</p>
            </table>
        </div></mat-tab>
        <mat-tab label="TS"><div class="tab-height">
            <table style="width:100%">
                typesOfOptions = ['Option 1', 'Option 2', 'Option 3', 'Option 4'];
            </table>
        </div></mat-tab>
    </mat-tab-group>
</section>
<markdown [content]="notes"></markdown>