// card mq's
// xxs: 0-479
// xs: 480-599
// s: 600-839
// m: 840-1023
// l: 1024-1279
// xl: 1280-1439
// xxl: 1440 +

$break-xxs-max: 479px;
$break-xs-min: 480px;
$break-xs-max: 599px;
$break-sm-min: 600px;
$break-sm-max: 839px;
$break-md-min: 840px;
$break-md-max: 1023px;
$break-lg-min: 1024px;
$break-lg-max: 1279px;
$break-xl-min: 1280px;
$break-xl-max: 1439px;
$break-xxl-min: 1440px;

$mq-xxs: 'only screen and (max-width : 479px)';
$mq-xs: 'only screen and (min-width: 480px) and (max-width: 599px)';
$mq-sm: 'only screen and (min-width: 600px) and (max-width: 839px)';
$mq-md: 'only screen and (min-width: 840px) and (max-width: 1023px)';
$mq-lg: 'only screen and (min-width: 1024px) and (max-width: 1279px)';
$mq-xl: 'only screen and (min-width: 1280px) and (max-width: 1439px)';
$mq-xxl: 'only screen and (min-width: 1440px)';

// card padding
$padding-xxs: 4px;
$padding-xs: 8px;
$padding-sm: 16px;
$padding-md: 24px;
$padding-lg: 32px;
$padding-xl: 48px;
$padding-xxl: 72px;

.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

:host {
  max-width: 1080px;
  margin-bottom: 16px;
  width: 80%;
  @media #{$mq-xxs} {
    max-width: none;
    width: 100%;
  }
  @media #{$mq-xs} {
    max-width: none;
    width: 100%;
  }
  @media #{$mq-sm} {
    max-width: none;
    width: 92%;
  }
  @media #{$mq-md} {
    width: 75%;
  }
  @media #{$mq-lg} {
    width: 80%;
  }
  @media #{$mq-xl} {
    width: 80%;
  }
  // xxl is default...
}
