<h1>Test Types</h1>
    <p>This is a high-level description of the different types of tests that are done in relation to Angular.</p>
    <hr />

    <h2>Unit Tests</h2>
    <p>Test the JavaScript file in isolation and mock out services as you need them. Unit Tests don't use the Angular Testing Utilities. (*.unit.spec.ts)</p>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
describe(<span class="string">'AppComponent'</span>, () => {{ '{' }}
    <span class="keyword">let</span> component: AppComponent;

    beforeEach(() => {{ '{' }}
        component = <span class="keyword">new</span> AppComponent();
    });

    it(<span class="string">'should be truthy'</span>, () => {{ '{' }}
        expect(component).toBeTruthy();
    });
});
            </code>
        </pre>
    </mat-card>

    <h2>Integration Tests</h2>
    <p>Use the Angular Testing Utilities to generate the Angular environment to test. Check JavaScript integration with the template. Mock out services as you need them. (*.spec.ts)</p>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
describe(<span class="string">'AppComponent'</span>, () => {{ '{' }}
    <span class="keyword">let</span> fixture: ComponentFixture&lt;AppComponent&gt;;
    <span class="keyword">let</span> component: AppComponent;

    beforeEach(<span class="keyword">async</span> () => {{ '{' }}
        <span class="keyword">await</span> TestBed.configureTestingModule({{ '{' }}
            declarations: [AppComponent],
            imports: [],
            providers: []
        }).compileComponents();
    });

    beforeEach(() => {{ '{' }}
        fixture = TestBed.createComponent(AppComponent);
        component = fixture.componentInstance;

        fixture.detectChanges();
    });

    it(<span class="string">'should be truthy'</span>, () => {{ '{' }}
        expect(component).toBeTruthy();
    });
});
            </code>
        </pre>
    </mat-card>

    <h2>End 2 End Tests</h2>
    <p>Testing the application as a whole. Simulate a user through real world scenarios. (*.e2e-spec.ts)</p>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
describe(<span class="string">'test-app1 App'</span>, () => {{ '{' }}
    <span class="keyword">let</span> page: AppPage;

    beforeEach(() => {{ '{' }}
        page = <span class="keyword">new</span> AppPage();
    });

    it(<span class="string">'should display welcome message'</span>, () => {{ '{' }}
        page.navigateTo();

        expect(page.getParagraphTest()).toEqual(<span class="string">'Welcome to app!'</span>);
    });
});
            </code>
        </pre>
    </mat-card>
    <h2>Snapshot Testing</h2>
    <p>Will serialize component and create reference image. When snapshot test is run, it will fail if the two images do not match. (*.spec.ts)</p>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
exports[<span class="string">`renders correctly 1`</span>] = `
&lt;a
    className=<span class="string">"normal"</span>
    href=<span class="string">"http://www.facebook.com"</span>
    onMouseEnter={{ '{' }}[<span class="keyword">Function</span>]}
    onMouseLeave={{ '{' }}[<span class="keyword">Function</span>]}
&gt;
    Facebook
    &lt;/a&gt;
`;
            </code>
        </pre>
    </mat-card>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
Received value does not match stored snapshot 1.

- Snapshot
+ Received

&gt;a
    className=<span class="string">"normal"</span>
-   href=<span class="string">"http://facebook.com"</span>
+   href=<span class="string">"http://instagram.com"</span>
    onMouseEnter={{ '{' }}[<span class="keyword">Function</span>]}
    onMouseLeave={{ '{' }}[<span class="keyword">Function</span>]}&gt;
-   Facebook
+   Instagram
&lt;a&gt;
            </code>
        </pre>
    </mat-card>