.tabHeight {
    padding: 16px;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: darkgreen !important;
}

.mat-checkbox.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: darkgreen;
}

.mat-checkbox.mat-accent .mat-radio-inner-circle {
    background-color: darkgreen;
}


.mat-checkbox.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color:rgba(173, 255, 47,0) !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color: darkgreen !important;
}

#bodyContainer{
    font: 500 20px/32px Avenir,Roboto,Helvetica Neue,sans-serif;
    font-size: 15px;
}

a{
    color: darkgreen;
}