<div>
    <h1>Configuring Jest</h1>
    <hr />

    <h2>Testing Platform: Jest</h2>
    <p>1. JavaScript testing platform built by Facebook.</p>
    <p>2. Sits on top of Jasmine.</p>

    <h3>Pros</h3>
    <p>1. API is nearly identical to Jasmine.</p>

    <p>2. Mocking is a piece of cake.</p>

    <p>3. Runs tests in parallel.</p>

    <p>4. Tests run on jsdom rather than a headless browser.</p>

    <p>5. 3.01 second average test run for starter Angular CLI project (10.9 second average for Jasmine) based on command execution time. 353% faster command execution than Jasmine.</p>

    <h3>Cons</h3>
    <p>1. Requires additional configuration in your Angular application to get Jest running.</p>

    <p>2. Not a lot of existing documentation on using Jest with Angular applications.</p>

    <h2>Setting Up Jest</h2>
    <p>1. Install dependency.</p>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
$ yarn add --dev jest jest-preset-angular @types/jest
            </code>
        </pre>
    </mat-card>

    <p>2. Add this entry to package.json.</p>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
<span class="string">"jest"</span>: {{ '{' }}
    <span class="string">"preset"</span>: <span class="string">"jest-preset-angular"</span>,
    <span class="string">"setupTestFrameworkScriptFile"</span>: <span class="string">"&lt;rootDir&gt;/src/jest.ts"</span>
}
            </code>
        </pre>
    </mat-card>

    <p>3. At the root of your src folder, create the file <span>jest-global-mocks.ts</span></p>
    <p>a. Include the following code to patch the window object since jsdom doesn't have it all implemented.</p>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
<span class="keyword">const</span> mock = () => {{ '{' }}
    <span class="keyword">let</span> storage = {{ '{' }}};
    <span class="keyword">return</span> {{ '{' }}
        getItem: key => key in storage ? storage[key] : <span class="keyword">null</span>,
        setItem: (key, value) => storage[key] = value || <span class="string">''</span>,
        removeItem: key => <span class="keyword">delete</span> storage[key],
        clear: () => storage = {{ '{' }}},
    };
};
            </code>
        </pre>
    </mat-card>

    <p>4. At the same location, create the file <span>jest.ts</span> and include the following</p>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
<span class="keyword">import</span> <span class="string">'jest-preset-angular'</span>;
<span class="keyword">import</span> <span class="string">'./jest-global-mocks'</span>;
            </code>
        </pre>
    </mat-card>

    <p>5. Update your npm test scripts</p>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
<span class="string">"test"</span>: <span class="string">"jest"</span>,
<span class="string">"test:watch"</span>: <span class="string">"jest --watch"</span>,
<span class="string">"test:ci"</span>: <span class="string">"jest --runInBand"</span>
            </code>
        </pre>
    </mat-card>

    <p>6. Remove @types/jasmine in node_modules. Contains duplicate declarations from @types/jest.</p>

    <p>7. Update <span>tsconfig.spec.json</span>: Change "jasmine" to "jest"</p>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
<span class="string">"types"</span>: [
    <span class="string">"jasmine"</span>,
    <span class="string">"node"</span>
]
            </code>
        </pre>
    </mat-card>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
<span class="string">"types"</span>: [
    <span class="string">"jest"</span>,
    <span class="string">"node"</span>
]
            </code>
        </pre>
    </mat-card>
    <p>8. Update <span>tsconfig.e2e.json</span>: Change "jasmine" to "jest"</p>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
<span class="string">"types"</span>: [
    <span class="string">"jasmine"</span>,
    <span class="string">"jasminewd2"</span>,
    <span class="string">"node"</span>
]
            </code>
        </pre>
    </mat-card>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
<span class="string">"types"</span>: [
    <span class="string">"jest"</span>,
    <span class="string">"jasminewd2"</span>,
    <span class="string">"node"</span>
]
            </code>
        </pre>
    </mat-card>
    <hr />
    <h3>References</h3>
    <p>1. Pierzchala, Michal. "TESTING ANGULAR FASTER WITH JEST", <a href="https://www.xfive.co/blog/testing-angular-faster-jest/">https://www.xfive.co/blog/testing-angular-faster-jest/</a>, March 31, 2017</p>
    <p>2. “TESTING REACT ON JSDOM”, <a href="https://jaketrent.com/post/testing-react-with-jsdom/">https://jaketrent.com/post/testing-react-with-jsdom/</a>, June 18, 2015</p>
    <p>3. “Mocha vs. Jest vs. Jasmine”, <a href="https://stackshare.io/stackups/jasmine-vs-jest-vs-mocha">https://stackshare.io/stackups/jasmine-vs-jest-vs-mocha</a></p>
</div>