<div>
    <h1>Angular Testing - Triggering Event Handlers</h1>
    <hr />

    <h2>1. Trigger Event Handler on DebugElement</h2>
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
it(<span class="string">'should emit clicked event'</span>, () => {{ '{' }}
    de = fixture.debugElement.query(By.css(<span class="string">'a'</span>));
    <span class="keyword">let</span> spy = jest.fn();

    component.clicked.subscribe(spy);
    de.triggerEventHandler(<span class="string">'click'</span>, <span class="keyword">null</span>);
    fixture.detectChanges();

    expect(spy).toHaveBeenCalled();
});
            </code>
        </pre>
    </mat-card>

    <h2>2. DispatchEvent on NativeElement</h2>
    
    <mat-card class='code-block-card'>
        <pre>
            <code class="code-block line">
it(<span class="string">'should emit clicked event'</span>, () => {{ '{' }}
    de = fixture.debugElement.query(By.css(<span class="string">'a'</span>));
    ne = de.nativeElement;
    <span class="keyword">let</span> spy = jest.fn();

    component.clicked.subscribe(spy);
    ne.dispatchEvent(<span class="keyword">new</span> Event(<span class="string">'click'</span>));
    fixture.detectChanges();

    expect(spy).toHaveBeenCalled();
});
            </code>
        </pre>
    </mat-card>
</div>