<h1>Page Level Guidelines</h1>
<p>The following are page level accessibility guidelines. Please follow these guidelines when implementing pages.</p>

<h2>Skip Navigation</h2>
<ul>
    <li><h3>Why?</h3></li>
        <p>With skip navigation integration, keyboard users are able to skip to the main content element of a page 
            without needing to click through every navigational element before it.</p>

    <li><h3>How?</h3></li>
        <p> Skip navigation should be able to be utilized either via <a href="https://chrome.google.com/webstore/detail/landmark-navigation-via-k/ddpokpbjopmeeiiolheejjpkonlkklgp/related">
        browser extension</a> or by simply tabbing through the page. </p>

    <li><h3>Code Examples</h3></li>
            <ul>
                <li>Body Elements</li>
                <pre><code>
                    &lt;a id=&quot;skip-main&quot; class=&quot;skip-main&quot; href=&quot;javascript:void(0)&quot; target=&quot;_self&quot;&gt;Skip to main content&lt;/a&gt;
                    &lt;div id=&quot;body-container&quot; role=&quot;main&quot; tabindex=&quot;-1&quot;&gt;
                        &lt;router-outlet&gt;&lt;/router-outlet&gt;
                    &lt;/div&gt;
                </code></pre>

                <li>List Content</li>
                <pre><code>
                    &lt;a id=&quot;skip-list&quot; class=&quot;skip-main&quot; href=&quot;javascript:void(0)&quot; target=&quot;_self&quot;&gt;Jump to content&lt;/a&gt;
                    &lt;ng-content select=&quot;ign-list-selection&quot;&gt;&lt;/ng-content&gt;
                    &lt;div id=&quot;list-content-skip&quot; role=&quot;main&quot; tabIndex=&quot;-1&quot;&gt;&lt;ng-content select=&quot;ign-list-content-panel&quot;&gt;&lt;/ng-content&gt;&lt;/div&gt;
                </code></pre>
            </ul>
</ul>


