<h1>Roles</h1>
<p> The following are page level, roles guidelines should be adhered to when implementing new pages.</p>
<ul>
    <li><h3>Why?</h3></li>
        <p>Roles help to improve accessibility by describing the structure of and providing keyboard 
            navigation functionality for webpages. </p>

    <li><h3>Where?</h3></li>
        <p>An aria role or role attribute should be added inline to the opening tag of the element. Whenever possible, use native html elements. However, if generic elements must be used  ensure the appropriate role is added.</p>
        <p>For example, if a generic container is being used as a heading:</p>
        <ul>
            <li>The role should be set to "heading".</li>
            <li>An aria-label attribute should be added and set to the appropriate level (i.e. 1 for h1, 2 for h2 equivalent tags).</li>
        </ul>
        <p>Note: the ignite design system already implements components with the correct roles added to them. </p>
        
    <li><h3>When?</h3></li>
        <p>Common instances in which roles should be implemented: </p>
        <ul>
            <li>When implementing icons as button, or with button functionality.</li>
            <li>Navigational elements, such as side navs, and lists where multiple elements exist in succession.</li>
            <li>Banners, such as information and error banners, that may not initially be established on the page. </li>
            <li>When there is content allocated on the page that can only be accessed after navigational elements.</li>
        </ul>

    <li><h3>Code Examples</h3></li>
            <ul>
                <li>List Items</li>
                <pre><code>
                    &lt;ign-list-item role=&quot;listitem&quot;&gt;&lt;/ign-list-item&gt;
                </code></pre>

                <li>Main Content</li>
                <pre><code>
                    &lt;div id=&quot;body&quot; role=&quot;main&quot;&gt;&lt;/div&gt;
                </code></pre>

                <li>Icons</li>
                <pre><code>
                    &lt;mat-icon role=&quot;button&quot;&gt;&lt;/mat-icon&gt;
                </code></pre>

                <li>Banners</li>
                <pre><code>
                    &lt;ign-error-banner role=&quot;banner&quot;&gt;&lt;/ign-error-banner&gt;
                </code></pre>
            </ul>
</ul>


