<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav" mode="side" opened="false" [fixedInViewport]="true"
               [fixedTopGap]="headerHeight + 8">
    <div><mat-toolbar class = "component-side-nav">Components</mat-toolbar></div>
    <mat-nav-list dense>
      <div *ngFor="let item of navItems">
        <h3><a mat-list-item [routerLink]="[item.route]"><span mat-line>{{ item.name }}</span></a></h3>
      </div>
    </mat-nav-list>

    <ign-center>Questions? <a
            href="https://ultimatesoftware.slack.com/messages/docsitequestions/" target="_blank">Ask here!</a>
    </ign-center>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button> <mat-icon style="color:white" (click)="sidenav.toggle()" class="material-icons">
        menu</mat-icon>
      </button>
      <img class ="ultimate-icon" src="/assets/ultiu.svg">
      Ignite Design System Documentation Site
    </mat-toolbar>
    <div id ="body-container">
      <router-outlet></router-outlet>
      <div id="footer" layout-align="end start"><button mat-raised-button color = "accent" (click)="openDialog()">
        <pre>Questions About Our Components?</pre></button></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


