<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav" mode="side" opened="false" [fixedInViewport]="true"
               [fixedTopGap]="headerHeight + 8">
    <div><mat-toolbar class = "component-side-nav">Components</mat-toolbar></div>

    <mat-nav-list dense>
      <div *ngFor="let item of navItems">
        <h3><a mat-list-item [routerLink]="[item.route]"><span mat-line>{{ item.name }}</span></a></h3>
      </div>
    </mat-nav-list>


    <mat-divider></mat-divider>
    <p matSubheader class="sidenav-subheader">Testing</p>
    <mat-nav-list dense>
      <div *ngFor="let testItem of testNavItems">
        <h3><a mat-list-item [routerLink]="[testItem.route]"><span mat-line>{{ testItem.name }}</span></a></h3>
      </div>
    </mat-nav-list>

    <mat-divider></mat-divider>
    <p matSubheader class="sidenav-subheader">Contributions</p>
    <mat-nav-list dense>
    <h5><a mat-list-item [routerLink]="['contribution']">
      <span mat-line>Doc Site Contributions</span>
    </a></h5>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button> <mat-icon style="color:white" (click)="sidenav.toggle()" class="material-icons">
        menu</mat-icon>
      </button>
      <img class ="ultimate-icon" src="/assets/ultiu.svg">
      Ignite Design System Documentation Site
    </mat-toolbar>
    <div id ="body-container">
      <router-outlet></router-outlet>
      <div id="footer" layout-align="end start"><button *ngIf="currUrl !== '/'"  mat-raised-button color = "accent" (click)="openDialog()">
        <pre>Questions About Our Components?</pre></button></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


