<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav" mode="side" opened="false" [fixedInViewport]="true"
               [fixedTopGap]="headerHeight + 8">
    <mat-toolbar style="background: #4A4A4F; color:white">Components</mat-toolbar><br>
    <mat-nav-list dense>
      <div *ngFor="let item of navItems">
        <h3><a mat-list-item [routerLink]="[item.route]"><span mat-line>{{ item.name }}</span></a></h3>
      </div>
    </mat-nav-list>
    
    <mat-toolbar style="background: #4A4A4F; color:white">Testing</mat-toolbar>
    <mat-nav-list dense>
      <div *ngFor="let testItem of testNavItems">
        <h3><a mat-list-item [routerLink]="testItem.route"><span mat-line>{{ testItem.name }}</span></a></h3>
      </div>
    </mat-nav-list>
    
    <ign-center>Questions? <a
            href="https://ultimatesoftware.slack.com/messages/docsitequestions/" target="_blank">Ask here!</a>
    </ign-center><br>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar style="color: white">
        <button mat-icon-button> <mat-icon style="color:white" (click)="sidenav.toggle()" class="material-icons">
          menu</mat-icon>
        </button>
        <img class ="ultimate-icon" src="/assets/ultiu.svg">
        Ignite Design System Documentation Site
      </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
