@import '~ignite-common/styles/ignite';

.container {
  display: flex;
  align-items: center;
  flex: 1;
  height: 64px;
  //TODO: RGBA COLORS
  //box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 9px 0px ign-palette($ign-palette-gray, 400);
  margin-bottom: 4px;
  padding-left: 16px;
}

.input {
  position: relative;
  background-color: #fff;
  text-decoration: none;
  line-height: 1.4;
  border-radius: 4px;
  box-shadow: none;
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  padding-left: 8px;
  outline: none;
  border: none;
  width: 100%;
}

.search-icon {
  cursor: default;
  opacity: 0.54;
}