@import '~ignite-common/styles/ignite';

$checkbox-length: 18px;
$hover-color: #EEEEEE;
$selection-color: #F5F5F5;

@mixin column-padding-first {
    padding-left: ign-padding(s);
}

@mixin column-padding-other {
    padding-left: 56px;
}

:host /deep/ .mat-header-cell  {
    &:nth-child(2) {
        @include column-padding-first();
    }
    &:nth-child(n+3)  {
        @include column-padding-other();
    }
}

:host /deep/ .mat-cell {
    &:nth-child(2) {
        @include column-padding-first();
    }
    &:nth-child(n+3) {
        @include column-padding-other();
    }
}

:host /deep/ .mat-column-select {
    // Needed for this: https://github.com/angular/material2/issues/8600
    overflow: initial;
}

:host /deep/ .mat-header-row {
    height: ign-spacing(xl);
}

:host /deep/ .mat-row {
    height: ign-spacing(l);

    &:hover {
        background: $hover-color;  
    }
    &::-moz-selection, &::-webkit-selection, &::selection {
        background: $selection-color;
    }
}

:host /deep/ .number-column {
    text-align: right;
}

:host /deep/ .mat-paginator {
    height: 56px;
}

:host /deep/ .mat-checkbox-inner-container {
    width: $checkbox-length;
    height: $checkbox-length;
}

:host /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: ign-color(accent);
}