pre {
    background-color: #EFF2F4;
    overflow: auto;
    width: min-content;
    height: min-content;
}

.code-test {
  font-family: Courier New, Courier, monospace;
}
  
.code-block {
    font-family: Courier New, Courier, monospace;
}
  
.code-block-card {
    width: min-content;
    height: min-content;
    background-color: #EFF2F4;
    margin: 0.5em;
}