@import '~@angular/material/theming';

$mq-md-and-lower: 'only screen and (max-width: 1023px)';
$mq-lg: 'only screen and (min-width: 1024px) and (max-width: 1279px)';
$mq-xl: 'only screen and (min-width: 1280px) and (max-width: 1439px)';
$mq-xxl: 'only screen and (min-width: 1440px)';

:host {
  flex: 2;
  padding: 48px 48px;
  background-color: mat-color($mat-grey, 50);
  border-left: 1px solid mat-color($mat-grey, 200);

  @media #{$mq-md-and-lower} {
    display: none;
  }

  @media #{$mq-lg} {
    padding: 24px 16px;
  }
}
