:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  transition: all .1s ease-out;  
  opacity: 0;
  transform: translateY(50px);
}

.fab-tooltip {
  color: #fff;
  margin-right: .5rem;

  // google specific
  padding-left: 6px;
  padding-right: 6px;
}