@import '~ignite-common/styles/ignite';

:host {
    display: block;
    border-top: 1px solid;
    //TODO: RGBA COLORS
    //border-top-color: rgba(0, 0, 0, .12);
    border-top-color: ign-color(divider);
    margin-bottom: 4px;
  }