@import '~ignite-common/styles/ignite';

// Sizes
$size-container-small: 40px;
$size-container-large: ign-size(xxl);
$size-text-small: ign-size(xs);
$size-icon-small: ign-size(s);
$size-text-large: $size-container-large / 2;
$size-icon-large: ign-size(l);

@mixin small-container-sizing {
  width: $size-container-small;
  height: $size-container-small;
}

@mixin large-container-sizing {
  width: $size-container-large;
  height: $size-container-large;
}

@mixin flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Colors
$white: ign-palette($ign-palette-gray, 50);
$light-gray: ign-palette($ign-palette-gray, 150);
$dark-gray: ign-palette($ign-palette-gray, 500);

.container {
  @include large-container-sizing();
  border-radius: 50%;
  overflow: hidden;

  .image {
    @include large-container-sizing();
  }

  .content-container {
    @include large-container-sizing();
    background-color: $light-gray;
  }

  .image {
    @extend .content-container;
    @include flex-centering();
  }

  .initials-container {
    @include large-container-sizing();
    @include flex-centering();
    font-size: $size-text-large;
    background-color: $dark-gray;
    color: $white;

    .initials {
      @include flex-centering();
      width: $size-text-large;
      height: $size-text-large;
    }
  }

  .icon-container {
    @extend .content-container;
    @include flex-centering();

    .icon {
      width: $size-icon-large;
      height: $size-icon-large;
      font-size: $size-icon-large;
      color: $dark-gray;
    }
  }
}

.container.small {
  @include small-container-sizing();

  .image {
    @include small-container-sizing();
  }

  .content-container {
    @include small-container-sizing();
  }

  .initials-container {
    @include small-container-sizing();
    @include flex-centering();
    font-size: $size-text-small;

    .initials {
      @include flex-centering();
      width: $size-text-small;
      height: $size-text-small;
    }
  }

  .icon-container {
    @include small-container-sizing();
    @include flex-centering();

    .icon {
      width: $size-icon-small;
      height: $size-icon-small;
      font-size: $size-icon-small;
    }
  }
}

.container.large {
  margin: 0 auto;
}
