@import '~ignite-common/styles/ignite';

%flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

%full-width-height {
  width: 100%;
  height: 100%;
}

// Colors
$white: ign-palette($ign-palette-gray, 50);
$light-gray: ign-palette($ign-palette-gray, 150);
$dark-gray: ign-palette($ign-palette-gray, 500);

.container {
  border-radius: 50%;
  font-family: $ign-font-family;

  overflow: hidden;
  display: flex;

  .image {
    @extend %full-width-height;
  }

  &.s {
    width: ign-avatar-size(s);
    height: ign-avatar-size(s);

    .initials {
      @extend %full-width-height;
      @extend %flex-centering;

      background-color: ign-color(dark);
      font-size: ign-typography(caption, font-size);
      color: $white;
    }

    .icon {
      @extend %full-width-height;
      @extend %flex-centering;

      font-size: 14px; // TODO: Discuss with design system team on achieving these sizes
      background-color: $light-gray;
    }
  }

  &.m {
    width: ign-avatar-size(m);
    height: ign-avatar-size(m);

    .initials {
      @extend %full-width-height;
      @extend %flex-centering;

      background-color: ign-color(dark);
      font-size: 16px; // TODO: Discuss with design system team on achieving these sizes
      color: $white;
    }

    .icon {
      @extend %full-width-height;
      @extend %flex-centering;

      font-size: ign-icon-size(m);
      background-color: $light-gray;
    }
  }

  &.xs {
    width: ign-avatar-size(xs);
    height: ign-avatar-size(xs);

    .initials {
      @extend %full-width-height;
      @extend %flex-centering;

      background-color: ign-color(dark);
      font-size: ign-typography(caption, font-size);
      color: $white;
    }

    .icon {
      @extend %full-width-height;
      @extend %flex-centering;

      font-size: ign-icon-size(xs);
      background-color: $light-gray;
    }
  }

  &.l {
    width: ign-avatar-size(l);
    height: ign-avatar-size(l);

    .initials {
      @extend %full-width-height;
      @extend %flex-centering;

      background-color: ign-color(dark);
      font-size: 32px; // TODO: Discuss with design system team on achieving these sizes
      color: $white;
    }

    .icon {
      @extend %full-width-height;
      @extend %flex-centering;

      font-size: ign-icon-size(l);
      background-color: $light-gray;
    }
  }

  &.xl {
    width: ign-avatar-size(xl);
    height: ign-avatar-size(xl);

    .initials {
      @extend %full-width-height;
      @extend %flex-centering;

      background-color: ign-color(dark);
      font-size: ign-typography(subheading-2, font-size);
      color: $white;
    }

    .icon {
      @extend %full-width-height;
      @extend %flex-centering;

      font-size: ign-icon-size(xl);
      background-color: $light-gray;
    }
  }
}
