<div id="avatar"
     [class]="'container ' + getSize(size)"
     matTooltip="{{ tooltip }}"
     attr.aria-label="{{ tooltip || ariaLabel }}"
     tabindex="{{ (!!tooltip || !!ariaLabel) ? 0 : -1 }}">
      <img *ngIf="!!image"
           [src]="image"
           class="image"
           alt="">
      <span *ngIf="!image && !!initials"
            class="initials"
            aria-hidden="true">{{ initials }}</span>
      <mat-icon *ngIf="!image && !initials"
                class="icon"
                aria-hidden="true">person</mat-icon>
</div>