%truncate {
    min-width: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

%no-truncate {
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

p {
    line-height: 1.5;
    word-wrap: break-word;
    overflow: hidden;
}

h1, h2, h3 {
    word-wrap: break-word;
    overflow: hidden;
    padding-top: 5px;
}

.status-container {
    margin: auto;
    
    display: grid;
}

@media only screen 
and (min-width: 971px) {
    .status-container {
        max-width: 1250px;
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(7, auto);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        /* autoprefixer: off */
        grid-template-areas:
            "header header"
            "content1 content1"
            "activity activity"
            "content2 content3"
            "builds builds"
            "content4 content4"
            "component component";
    }

    .component-body > mat-expansion-panel {
        width: 750px;
        min-height: 40px;
    }
    
}

@media only screen 
and (max-width: 970px) {
    .status-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        /* autoprefixer: off */
        grid-template-areas:
            "header"
            "content1"
            "activity"
            "content2"
            "content3"
            "builds"
            "content4"
            "component";
    }

    .component-body > mat-expansion-panel {
        width: 400px;
        min-height: 40px;
    }
} 

.g-header {
    grid-area: header;
    text-align: center;
    border-bottom: 5px;
    min-width: 250px;
    min-height: 75px;
    max-height: 200px;
}

.g-content-one {
    grid-area: content1;
}

.g-header-two {
    grid-area: activity;
    text-align: start;
    min-width: 250px;
    min-height: 75px;
    max-height: 200px;
    margin-bottom: 0;
}

.g-content-two {
    grid-area: content2;

    display: flex;
    flex-direction: column;

    @extend %no-truncate;
}

.g-sub-image {    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.g-sub-image > .author-section {
    @extend %no-truncate;

    h3 {
        margin-top: 5px;
    }
}

.g-content-three {
    grid-area: content3;

    display: flex;
    flex-direction: column;

    @extend %no-truncate;
}

.g-header-three {
    grid-area: builds;
    text-align: start;
}

.g-content-four {
    grid-area: content4;
    min-height: 350px;  /* Temporary while bug workaround is in place. Will revisit at a later time */
}

.g-content-five {
    grid-area: content5;
}
.avatar {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    padding: 0;
    margin-right: 5px;
}

.icon {
    height: 4rem;
    width: 4rem;
    margin-right: 5rem;
}

a {
    text-decoration: none;
}

.information {
    font-size: 1.25rem;
}

.header {
    font-size: 2rem;
}

mat-panel-title {
    width: 50%;
}

mat-panel-description {
    width: 50%;
}

.component-g {
    grid-area: component;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.component-body {
    /*display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; */

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    grid-gap: 15px;
}

.component-g > h4 {
    margin-top: 0px;
}


