<div class="status-container">
    <mat-card [style.border-bottom]="getBorder()" class="a">
        <h1 class="header">{{ data.name.toUpperCase() }} STATUS</h1>
    </mat-card>

    <mat-card class="c" *ngIf="(data.metrics.status === 'GREEN'); else lastFailure">
        <div class="c1">
            <h1 class="header">LAST SUCCESSFUL RUN</h1>
        </div>
        <div class="c2">
            <p class="information">Author: {{ data.metrics.lastSuccess.author }}</p>
            <p class="information">Branch Name: {{ data.metrics.lastSuccess.branchName }}</p>
            <p class="information">Commit Message: {{ data.metrics.lastSuccess.commitMessage }}</p>
            <a [attr.href]="data.metrics.lastSuccess.concourseUrl" target="_blank">
                <img class="icon" src="../../../assets/concourse.png" alt="concourse logo" />
            </a>
            <a [attr.href]="data.repoUrl + '/commits/' + data.metrics.lastSuccess.commitHash" target="_blank">
                <img class="icon" src="../../../assets/bitbucket.png" alt="bit bucket logo" />
            </a>
        </div>
    </mat-card>

    <mat-card class="d">
        <h1 class="header">RECENT ACTIVITY</h1>
    </mat-card>

    <mat-card class="e">
        <div class="e1">
            <h1 class="header">MASTER BRANCH</h1>
        </div>
        <div class="e2">
            <img class="avatar" src="{{ masterBranch.latestCommit.author.avatarUrl }}" alt="avatar url" />
        </div>
        <div class="e3">
            <p class="information">Latest Commit by: {{ masterBranch.latestCommit.author.displayName }}</p>
            <p class="information">Email: {{ masterBranch.latestCommit.author.emailAddress }}</p>
            <p class="information">Commit Message:</p>
            <p class="information">{{ masterBranch.latestCommit.message.split('\':')[1] }}</p>
        </div>
    </mat-card>

    <mat-card class="f">
        <div class="f1">
            <h1 class="header">DEVELOP BRANCH</h1>
        </div>
        <div class="f2">
            <img class="avatar" src="{{ developBranch.latestCommit.author.avatarUrl }}" alt="avatar url" />
        </div>
        <div class="f3">
            <p class="information">Latest Commit by: {{ developBranch.latestCommit.author.displayName }}</p>
            <p class="information">Email: {{ developBranch.latestCommit.author.emailAddress }}</p>
            <p class="information">Commit Message:</p>
            <p class="information">{{ developBranch.latestCommit.message.split('\':')[1] }}</p>
        </div>
    </mat-card>

    <mat-card class="g">
        <h1 class="header">BUILDS</h1>
    </mat-card>

    <mat-card class="h">
        <div class="h1">
            <h1>MASTER BUILDS</h1>
        </div>
        <div class="h2">
            <p>Author: {{ masterBranch.builds[0].author }}</p>
            <p>Commit Message: </p>
            <p>{{ masterBranch.builds[0].commitMessage.split('\':')[1] }}</p>
            <p>Time: {{ masterBranch.builds[0].time }}</p>
            <p>Status: {{ masterBranch.builds[0].status }}</p>
        </div>
        <div class="h3">
            <a [attr.href]="masterBranch.builds[0].concourseUrl" target="_blank">
                <img src="../../../assets/concourse.png" height="50px" width="50px" alt="concourse logo" />
            </a>
        </div>
    </mat-card>

    <mat-card class="i">
        <div class="i1">
            <h1>DEVELOP BUILDS</h1>
        </div>
        <div class="i2">
            <p>Author: {{ developBranch.builds[0].author }}</p>
            <p>Commit Message: </p>
            <p>{{ developBranch.builds[0].commitMessage.split('\':')[1] }}</p>
            <p>Time: {{ developBranch.builds[0].time }}</p>
            <p>Status: {{ developBranch.builds[0].status }}</p>
        </div>
        <div class="i3">
            <a [attr.href]="developBranch.builds[0].concourseUrl" target="_blank">
                <img src="../../../assets/concourse.png" height="50px" width="50px" alt="concourse logo" />
            </a>
        </div>
    </mat-card>
</div>

<ng-template #lastFailure>
    <mat-card class="c">
        <mat-card-title>Last Failed Run</mat-card-title>
        <mat-card-content>
            <h2 style="text-align: center">Details</h2>
            <p>Author: {{ data.metrics.lastFailure.author }}</p>
            <p>Branch Name: {{ data.metrics.lastFailure.branchName }}</p>
            <a [attr.href]="data.metrics.lastSuccess.concourseUrl" target="_blank">
                <img src="../../../assets/concourse.png" alt="concourse logo" />
            </a>
            <p>Commit Message: {{ data.metrics.lastFailure.commitMessage }}</p>
        </mat-card-content>
    </mat-card>
</ng-template>