<div class="status-container">
    <mat-card class="g-header" [ngStyle]="{'border-bottom': '10px solid ' + data.metrics?.status.toLowerCase()}">
        <h1>Ignite Design System Status</h1>
        <mat-card-subtitle *ngIf="(data.metrics?.status === 'GREEN')">
            Passing Since: {{ data.metrics?.greenSinceDate | date }}
        </mat-card-subtitle>
    </mat-card>

    <mat-card class="g-content-one" *ngIf="(data.metrics?.status === 'GREEN'); else lastFailure">

        <h2>Last Successful Run</h2>
        <mat-card-content>
            <h3>Author</h3>
            <p>{{ data.metrics.lastSuccess?.author }}</p>
            <h3>Date</h3>
            <p>{{ data.metrics.lastSuccess?.time | date }}</p>
            <h3>Branch Name</h3>
            <p>{{ data.metrics.lastSuccess?.branchName }}</p>
            <h3>Commit Message</h3>
            <p>{{ data.metrics.lastSuccess?.commitMessage }}</p>
            <a [attr.href]="data.metrics.lastSuccess?.concourseUrl" target="_blank">
                <img class="icon" src="../../../assets/concourse.png" alt="concourse logo" />
            </a>
            <a [attr.href]="data.repoUrl + '/commits/' + data.metrics.lastSuccess?.commitHash" target="_blank">
                <img class="icon" src="../../../assets/bitbucket.png" alt="bit bucket logo" />
            </a>
        </mat-card-content>
    </mat-card>

    <h1 class="g-header-two">Recent Activity</h1>

    <mat-card class="g-content-two">
        <h2>Master Branch</h2>
        <mat-card-content class="g-sub-image">
            <img class=" image-section avatar" src="{{ masterBranch?.latestCommit.author.avatarUrl }}" alt="avatar url" />
            <div class="author-section">
                <h3>Author</h3>
                <p>{{ masterBranch?.latestCommit.author.displayName }}</p>
            </div>
        </mat-card-content>
        <h3>Email</h3>
        <p>
            {{ masterBranch?.latestCommit.author.emailAddress }}
        </p>
        <h3>Commit Message</h3>
        <p>
            {{ masterBranch?.latestCommit.message }}
        </p>
    </mat-card>

    <mat-card class="g-content-three">
        <h2 class="g-sub-header">Develop Branch</h2>
        <mat-card-content class="g-sub-image">
            <img class="avatar" src="{{ developBranch?.latestCommit.author.avatarUrl }}" alt="avatar url" />
            <div class="author-section">
                <h3>Author</h3>
                <p>{{ developBranch?.latestCommit.author.displayName }}</p>
            </div>
        </mat-card-content>
        <h3>Email</h3>
        <p>
            {{ developBranch?.latestCommit.author.emailAddress }}</p>
        <h3>Commit Message</h3>
        <p>
            {{ developBranch?.latestCommit.message }}
        </p>
    </mat-card>


    <h1 class="g-header-three">Builds</h1>

    <mat-card #buildPanel class="g-content-four">
        <!-- SelectedTabChange event a workaround for a bug involving placing an expansion panel inside a tab group -->
        <mat-tab-group (selectedTabChange)="reloadTabs()">
            <mat-tab label="MASTER">
                <mat-expansion-panel *ngFor="let build of data.branches?.values[1].builds">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>{{ build?.author }}</h3>
                        </mat-panel-title>
                        <mat-panel-description>
                            <h3>{{ build?.time | date }}</h3>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                        <h3>Status</h3>
                        <p>{{ build?.status.toString().toLowerCase() }}</p>
                        <h3>Duration</h3>
                        <p>{{ build?.duration }} Seconds</p>
                        <h3>Pipeline</h3>
                        <p>{{ build?.pipeline }}</p>
                        <h3>Commit Message</h3>
                        <p>{{ build?.commitMessage }}</p>
                    </div>
                </mat-expansion-panel>
            </mat-tab>
            <mat-tab label="DEVELOP">
                <ng-container *ngIf="showTabContent">
                    <mat-expansion-panel *ngFor="let build of data.branches?.values[0].builds">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>{{ build?.author }}</h3>
                            </mat-panel-title>
                            <mat-panel-description>
                                <h3>{{ build?.time | date }}</h3>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div>
                            <h3>Status</h3>
                            <p>
                                {{ build?.status.toString().toLowerCase() }}
                            </p>
                            <h3>Duration</h3>
                            <p>
                                {{ build?.duration }} Seconds
                            </p>
                            <h3>Pipeline</h3>
                            <p>
                                {{ build?.pipeline }}
                            </p>
                            <h3>Commit Message</h3>
                            <p>
                                {{ build?.commitMessage }}
                            </p>
                        </div>
                    </mat-expansion-panel>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </mat-card>

    <section aria-label="component" class="component-g">
        <h1>Component Test Details</h1>
        <h4>Last Run: {{ buildData.startTime | date }}</h4>
        <mat-card class="component-body">
            <mat-expansion-panel hideToggle="'false'" *ngFor="let build of componentList" [ngStyle]="{'border-right': '10px solid ' + componentStatusColor(build)}">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>{{ build.assertionResults[0]?.ancestorTitles[0] }}</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div id="component-test-case" *ngFor="let test of build.assertionResults">
                    <h3>Test Case</h3>
                    <p>{{ test?.title }}</p>
                    <h3>Status</h3>
                    <p>{{ test?.status }}</p>
                    <div *ngIf="test.failureMessages.length > 0">
                        <h3>Failure Messages</h3>
                        <p *ngFor="let message of test.failureMessages">
                            {{ message }}
                        </p>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-card>
    </section>
</div>

<ng-template #lastFailure>
    <mat-card class="g-content-one">
        <h2>Last Failed Run</h2>
        <mat-card-content>
            <p>
                <span>Author:</span> {{ data.metrics?.lastFailure.author }}
            </p>
            <p>
                <span>Date:</span> {{ data.metrics?.lastFailure.time | date }}
            </p>
            <p>
                <span>Branch Name:</span> {{ data.metrics?.lastFailure.branchName }}</p>
            <p>
                <span>Commit Message:</span> {{ data.metrics?.lastFailure.commitMessage }}</p>
            <a [attr.href]="data.metrics?.lastFailure.concourseUrl" target="_blank">
                <img class="icon" src="../../../assets/concourse.png" alt="concourse logo" />
            </a>
            <a [attr.href]="data?.repoUrl + '/commits/' + data.metrics?.lastFailure.commitHash" target="_blank">
                <img class="icon" src="../../../assets/bitbucket.png" alt="bit bucket logo" />
            </a>
        </mat-card-content>
    </mat-card>
</ng-template>