.status-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .25fr auto .25fr 4fr .25fr 4fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
        "header header"
        "content1 content1"
        "activity activity"
        "content3 content4"
        "builds builds"
        "content5 content6";
    justify-content: space-around;
}

.a {
    grid-area: header;
    text-align: center;
    border-bottom: 5px
}

.c {
    grid-area: content1;
    display: grid;
    align-items: stretch;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "header header"
        "body body2"
}

.c1 {
    grid-area: header;
}

.c2 {
    grid-area: body;
}

.c3 {
    grid-area: body2;
    justify-self: end;
    align-self: start;
}

.d {
    grid-area: activity;
    text-align: center;
}

.e {
    grid-area: content3;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.5fr 2fr;
    grid-template-areas: 
        "header header"
        "image commit";
}

.e1 {
    grid-area: header;
}

.e2 {
    grid-area: image;
}

.e3 {
    grid-area: commit;
}

.f {
    grid-area: content4;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.5fr 2fr;
    grid-template-areas: 
        "header header"
        "image commit";
}

.f1 {
    grid-area: header;
}

.f2 {
    grid-area: image;
}

.f3 {
    grid-area: commit;
}

.g {
    grid-area: builds;
    text-align: center;
}

.h {
    grid-area: content5;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-template-areas: 
        "header"
        "m-content"
        "concourse";
}

.h1 {
    grid-area: header;
}

.h2 {
    grid-area: m-content;
}

.h3 {
    grid-area: concourse;
}

.i {
    grid-area: content6;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-template-areas: 
        "header"
        "d-content"
        "concourse";
}

.i1 {
    grid-area: header;
}

.i2 {
    grid-area: d-content;
}

.i3 {
    grid-area: concourse;
}

.avatar {
    height: 18rem;
    width: 18rem;
}

.icon {
    height: 4rem;
    width: 4rem;
}

.information {
    font-size: 1.25rem;
}

.header {
    font-size: 2rem;
}