/*@media only screen 
and (max-width: 970px) {
}*/

@mixin stat-card-content($backgroundColor, $textColor, $width) {
    background-color: $backgroundColor;
    color: $textColor;
    font-size: 20px;
    font-weight: bold;
    align-self: stretch;
    flex-grow: 1;
    padding: 10px 5px;
    max-width: $width;
    word-wrap: break-word;
    overflow: hidden;
}

@mixin stat-card-content-no-background($textColor, $width) {
    color: $textColor;
    font-size: 20px;
    font-weight: bold;
    align-self: stretch;
    flex-grow: 1;
    padding: 10px 5px;
    max-width: $width;
}

@mixin stat-card-shell($height, $width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: $height;
    width: $width;
    text-decoration: none;
    box-shadow: 0px 0px 10px 1px rgb(119, 136, 153);
}

main {
    max-width: 1250px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* autoprefixer: off */
    grid-template-areas:
        "build"
        "coverage"
        "component-h"
        "component-b";    
}

.build {
    grid-area: build;

    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    /* autoprefixer: off */
    grid-template-areas: 
        "header header header header"
        ". master develop. ";
}

.build-header {
    grid-area: header;
}
.build-master {
    grid-area: master;
}
.build-develop {
    grid-area: develop;
}

.coverage {
    grid-area: coverage;

    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    /*autoprefixer: off */
    grid-template-areas:
        "header header header header"
        "functions lines branches statements";
}

.coverage-header {
    grid-area: header;
}

.coverage-branches {
    grid-area: branches;
}

.coverage-functions {
    grid-area: functions;
}

.coverage-lines {
    grid-area: lines;
}

.coverage-statements {
    grid-area: statements;
}

.component-h {
    grid-area: component-h;
}

.component-b {
    grid-area: component-b;

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(25%, 260px));
    grid-gap: 10px;
}



.stat-card {
    @include stat-card-shell(40px, 260px);
}

.stat-card:hover {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.build-card-branch {
    @include stat-card-content(LightSlateGray, white, 50%);
}

.build-card-status {
    @include stat-card-content(#008000, white, 50%);
}

.coverage-card-title {
    @include stat-card-content(LightSlateGray, white, 70%);
}

.coverage-card-detail {
    @include stat-card-content-no-background(white, 30%);
}

.stat-card-component {
    @include stat-card-shell(60px, 260px);
}

.component-card-title {
    @include stat-card-content(LightSlategray, white, 75%);
}

.component-card-status {
    @include stat-card-content-no-background(white, 25%);
}