@import '~ignite-common/styles/ignite';

// Colors
$light-gray: ign-palette($ign-palette-gray, 150);
$dark-gray: ign-palette($ign-palette-gray, 500);

#avatar-group {
  display: flex;
}

.avatar-group {
  padding-top: 8px; // matches material design padding.
  margin-top: 0;
  margin-left: -8px;

  &:first-of-type {
    margin-left: 0;
  }
}

.context__tool-all {
  padding-left: 0;
  padding-right: 0;
  color: ign-palette($ign-palette-blue, 500);
  font-size: ign-typography(button, font-size);
}

:host ::ng-deep #counter {
  &.counter--plus-avatar{
    .initials {
      background-color: $light-gray;
      font-size: ign-font-size(xxxs);
      color: $dark-gray;
      font-weight: ign-font-weight(regular);
      padding-right: 0.125rem;
    }
  }

  &.counter--context-avatar {
    .initials {
      background-color: $light-gray;
      font-size: ign-font-size(xs);
      color: $dark-gray;
      font-weight: ign-font-weight(heavy);
      padding-bottom: 0.5rem;
    }
  }
}