@import '~ignite-common/styles/ignite';

// Colors
$light-gray: ign-palette($ign-palette-gray, 150);
$dark-gray: ign-palette($ign-palette-gray, 500);

#avatar-group {
  display: flex;
}

.avatar-group {
  padding-top: 8px; // matches material design padding.
  margin-top: 0;
  margin-left: -8px;

  &:first-of-type {
    margin-left: 0;
  }
}

.context__all {
  padding-left: 0;
  padding-right: 0;
  color: ign-color(secondary);
  font-size: 0.875rem; // TODO: the typography font-size for button doesn't match spec, neither do raw tokens
  font-family: $ign-font-family;
  font-weight: 500; // TODO: the typography font-weight for buttons doesn't match spec, neither do raw tokens
}

:host ::ng-deep #counter {
  &.counter--plus {
    .container--initials {
      background-color: $light-gray;
    }

    .initials {
      font-size: ign-font-size(xxxs);
      color: $dark-gray;
      font-weight: ign-font-weight(regular);
      position: relative;
      left: -0.125rem; // assumes the size stays 'm'
    }
  }

  &.counter--context {
    .container--initials {
      background-color: $light-gray;
    }

    .initials {
      font-size: ign-font-size(xs);
      color: $dark-gray;
      font-weight: ign-font-weight(heavy);
      position: relative;
      top: -0.375rem; // assumes the size stays 'm'
    }
  }
}