<div *ngIf="avatars?.length"
     id="avatar-group"
     fxLayout="row"
     tabindex="-1">
    <ign-avatar *ngFor="let avatar of sanitizeAvatars(avatars).slice(0, cap)"
                class="avatar avatar-group"
                matListAvatar
                [tooltip]="getAvatarTooltip(avatar)"
                [image]="avatar.image || ''"
                [initials]="avatar.person ? getPersonInitials(avatar.person) : ''"
                [size]="size"
                [routerLink]="avatar.link ? [avatar.link] : []"
                tabindex="-1"></ign-avatar>
    <ign-avatar *ngIf="!!showCounter && getCounterValue(avatars) > 0"
                id="counter"
                class="avatar-group"
                matListAvatar
                [initials]="'+' + getCounterValue(avatars)"
                [size]="size"
                [routerLink]="showCounter && counterLink ? [counterLink] : []"
                [ariaLabel]="counterAriaLabel || ' '"
                tabindex="-1"
                [attr.role]="showCounter && counterLink ? 'link' : ''"></ign-avatar>
</div>