@import '~ignite-common/styles/ignite';

// Colors
$light-gray: ign-palette($ign-palette-gray, 150);
$dark-gray: ign-palette($ign-palette-gray, 500);

$font-size-small: ign-font-size(xxxs);

#avatar-group {
  display: flex;
}

.avatar-group {
  padding-top: 8px; // matches material design padding.
  margin-top: 0;
  margin-left: -8px;

  &:first-of-type {
    margin-left: 0;
  }
}

:host ::ng-deep #counter {
  .initials-container {
    background-color: $light-gray;
  }

  .initials {
    font-size: $font-size-small;
    margin-left: -2px;
    color: $dark-gray;
    font-weight: 400;
  }
}