@import '~ignite-common/styles/ignite';

$text-secondary-font-size: 12px;
$text-secondary-font-weight: 400;

:host {
  width: 100%;
}

.footer {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.footer-text {
  font-size: $text-secondary-font-size;
  font-weight: $text-secondary-font-weight;
  color: ign-color(text-secondary);
}