$left-border-width: 3px;

.list-detail-container {
  display: flex;
  flex-direction: row;
  user-select: none;
  cursor: default;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px 0 (16px - $left-border-width);

  border-left: $left-border-width solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 72px;

  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  &:hover, &:active {
    background: rgba(0,0,0,0.015);
  }
}

// list-detail 'active' stylings
:host(.active) ::ng-deep .list-detail-container {
  color: rgba(0, 0, 0, 0.8);
  border-left-color: #4AB93C;
  background: rgba(0, 0, 0, 0.03);
}

.list-detail-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.list-detail-title {
  font-size: 16px;
  color: #000;
  opacity: 0.87;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  min-width: 0;
  line-height: 1.2;
}

.list-detail-subtitle {
  font-size: 14px;
  margin-top: 4px;
  color: #000;  
  opacity: 0.54;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  min-width: 0;
  line-height: 1.2;
}

.gray-square {
  background-color: gray;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  min-width: 36px;
}
